image: alpine:3.20

pipelines:
  branches:
    main:
      - step:
          name: Mirror main to GitHub
          script:
            - apk add --no-cache git
            - git config --global user.email "pipelines@bitbucket.local"
            - git config --global user.name "Bitbucket Pipelines"
            # Важно: пушим именно текущую main в GitHub main
            - git push --force "https://${GITHUB_USERNAME}:${GITHUB_TOKEN}@github.com/${GITHUB_REPO}.git" HEAD:main
